body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #c7d66f;
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: rgb(141, 21, 21);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  